.carousel {
  position: relative;
  height: 500px;
  border: 2px solid;
  display: flex;
  gap: 1em;
  overflow: hidden;

  .carousel_text {
    color: white;
    font-size: 1.5rem;
    position: absolute;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: end;
    bottom: 20%;
    height: 100%;
    width: 100%;
  }

  .img_container {
    display: flex;
    border: 2px solid;
    min-height: 100%;
    min-width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.accolades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin-bottom: 4em;

  .achievement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    img {
      height: 100%;
      width: 250px;
    }

    p {
      font-size: 1.5rem;
    }
  }
}
